body{
    background-image: url('https://image.freepik.com/free-vector/illustration-with-young-people-talking_52683-29824.jpg');
    background-color: white;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%
}

